body
{
	text-align: center;
}

#page_container
{
	display: inline-block;
	width: 90%;
	max-width: 900px;
	min-width: 307px;
	height: auto;
	font-family: sans-serif, Arial;
	font-size: 1.05em;
	text-align: left;
	line-height: 1.5;
}

#header
{
	display: block;
}

#logo
{
	padding: 0;
	margin: 0;
	max-width: 250px;
	width: 100%;
	height: auto;
}

#navbar
{
	list-style: none;
	margin:     0;
	padding:    0;
}

#navbar li
{
	float: left;
	padding-left: 2%;
}

#navbar li a
{
	display: block;
	color: #000;
	text-decoration: none;
}

#navbar li a:hover
{
	text-decoration: underline;
}

.navbar_vl
{
	float: middle;
}

#content
{
	display: block;
	padding-top: max(5%, 30px);
}

#about_tab { display: none; }
#docs_tab  { display: none; }
#log_tab   { display: none; }

#log_intro
{
	display: block;
	margin-bottom: 1.05em;
}

.code
{
	width: 98%;
	background-color: #212121; /*#161616;*/
	display: block;
	white-space: pre-wrap;
	font-family: Consolas, arial;
	tab-size: 4;
	-moz-tab-size: 4;
	text-align: left;
	color: #A08563;
	margin-top: 1.05em;
	margin-bottom: 1.05em;
	padding-bottom: 1.05em;
	padding-left: 1.05em;
}

.code_keyword  { color: #CD950C; }
.code_function { color: #99513D; }
.code_comment  { color: #7D7D7D; }
.code_literal  { color: #6B8E23; }

.log_title_minimized
{
	cursor: pointer;
	border: 0;
	border-top: 0.05em;
	border-color: #222;
	border-style: solid;
}

.log_title_maximized
{
	cursor: pointer;
	border: 0;
	border-top: 0.05em;
	border-color: #222;
	border-style: solid;
}

.log_title_minimized a
{
	font-size: 2.5em;
	text-decoration: none;
	text-decoration: bold;
	color: #000;
}

.log_title_maximized a
{
	font-size: 2.5em;
	text-decoration: none;
	text-decoration: bold;
	color: #000;
}

.log_date_minimized
{
	color: #222;
}

.log_date_maximized
{
	color: #222;
}

.log_content_minimized
{
	display: none;
	margin-top: 1.0em;
}

.log_content_maximized
{
	display: block;
	margin-top: 1.0em;
}

.log_content_maximized h1
{
	font-size: 1.5em;
	font-weight: normal;
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0.005em solid #80808033;
}

.log_content_maximized h2
{
	font-size: 1.2em;
	font-weight: normal;
	margin-bottom: 0;
	padding-bottom: 0;
}
